@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@700&display=swap');

.container-nav{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(50,50,50,1) 50%, rgba(0,0,0,1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 8vh;
    align-items: center;
}
.container-nav > p{
    color: white;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-family: 'Archivo', sans-serif;
    font-size: 1.3rem;
}

.app{
    margin: 0;
    padding: 0;
}

.div-caratula{
    margin-top: 2vh;
}

.img-logo{
    width: 7rem;
}