@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.section-cart{
    height:100vh;
    padding-top: 8vh;
    background: #919191;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    flex-direction: column;

    font-family: Archivo, sans;
}

.cart-title{
    font-family: Archivo, sans-serif;
    margin-bottom: 2rem;
}

.div-item-carrito{
    color: black;
    /*padding: 1rem;*/
    /*background-color:  rgba(27, 27, 27,0.5);*/
    font-size: 1.3rem;
    border-top-color: black;
    border-top-width: 1px;
    border-top-style: solid;
    margin-bottom: 1rem;
}

.img-item-cart{
    width: 7rem;
}

.desc-cart{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-item-title{
    margin-bottom: 1rem;
}

.cont-cart{
    width: 80%;
}


.btn-cart{
    color: white;
    font-size: 2rem;
    width: 4rem;
    height: 3rem;
    margin-left: 1rem;
    background: #292929;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    outline: 0;
    animation: 1s ease-in-out;
}

.btn-cart:focus{
    border: none !important;
    outline: 0;
}

.btn-cart:active{
    background-color: #575757;
}

.precio-total{
    display: flex;
    justify-content: right;
    border-top-color: black;
    border-top-width: 1px;
    border-top-style: solid;
    font-size: 1.5rem; 
    
}

.total-valor{
    margin-top: 1rem;
}

.total-items{
    margin-right: 5rem;
    margin-top: 1rem !important;
}

.btn-cart-trash{
    font-size: 1.7rem;
}

.cont-botones-cart{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-cont-cart{
    display: flex;
    justify-content: center;
}

.id-display-none{
    display: none;
}

@media (max-width: 838px) {
    .img-cont-cart{
        padding: 0;
    }

    .img-item-cart{
        width: 100%;
    }
}

@media (max-width: 575px) {
    .img-cont-cart{
        padding: 0;
    }
    .section-cart{
        height:auto;
        padding-bottom:2rem;
    }

    .img-item-cart{
        width: 7rem;
    }
}
