.section-footer{
    background-color: #292929;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-footer{
    width: 15rem;
}

.contacto-footer{
    margin-top: 1rem;
    color: rgb(114, 114, 114);
}

.contacto-footer > i{
    cursor: pointer;
    transition-duration: 400ms;
}
.contacto-footer > i:hover{
    color: rgb(179, 179, 179);
}

.contacto-footer > i{
    margin-right: 1rem;
}

.footer-copy{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: rgb(71, 71, 71);
}
