.cont-lista-catalogo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cont-lista-catalogo > .animate__animated{
    animation-duration: 1500ms !important;
}

.item-list{
    padding-bottom: 2rem;
}

.item-list .row{
    margin-right: 0;
    margin-left: 0;
}

@media (max-width: 768px) {
    .item-list{
        padding-bottom: 2rem;
    }
    
    .cont-lista-catalogo{
        justify-content: center;
    }
}

@media (max-width: 1030px) {
    .item-list{
        padding-bottom: 2rem;
    }
    
    .cont-lista-catalogo{
        justify-content: center;
    }
}