.cont-item-detail{
    height: auto;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background: #222222;
    color: white;
}

.img-detail{
    width: 30rem;
}

.cont-info{
    display: flex;
    flex-direction: row;
}

.cont-info-item{
    margin-right: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}

.detail-title{
    font-size: 2.5rem;
    margin: 0;
}

.detail-precio{
    font-size: 2rem;
    font-weight: 600;
    color: wheat;
}

.detail-ul{
    list-style-type: none;
    margin-left: -2.5rem;
}

.detail-ul li{
    margin-bottom: 0.3rem;
}

.detail-ul li:last-child{
    color: red;
}

.btn-finalizar-compra{
    height: 3rem;
    width: auto;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(179, 179, 255);
    background-color: transparent;
    font-size: 1rem;
    font-weight: 200;
    font-family: Poppins, sans;
    color: rgb(111, 111, 255);
    transition: all .1s ease-in-out;
}

.detail-precio > a{
    text-decoration: none !important;
}

a:-webkit-any-link {
    text-decoration: none !important;

}

