@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap');

.item-list-container{
    padding-top: 8vh;
    background: #919191;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header{
    margin-bottom: 2.5rem;
    margin-top: 4rem;
    font-family: Chakra Petch;
    font-size: 2.5rem;
}

.estado-cargando{
    height: 79.9vh;
}

@media (max-width: 768px) {
    .item-list-container{
    height: auto;
    padding-top: 8vh;
    }

    .header{
        font-size: 2rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
}

@media (max-width: 1030px) { 
    .item-list-container{
        height: auto;
        padding-top: 8vh;
    }

    .header{
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
}